.watchContent {
  padding: 20px;
  width: 100%;

  .player {
    width: 100% !important;
  }

  .container {
    margin-right: -5px;
    margin-left: -5px;

    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .videoTitleContainer {
    background-color: #2c2f31;
    height: 66px;
    border-radius: 0px 0px 10px 10px;

    .videoIcon {
      float: left;
      margin-right: 20px;
      img {
        height: 66px;
        width: 66px;
        border-radius: 0px 0px 0px 10px;
      }
    }

    .videoTitle {
      padding-top: 5px;
    }

    .videoClassification {
      float: right;
      width: 66px;
      height: 66px;
      background-color: #0f8b43;
      border-radius: 0px 0px 10px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      font-size: 30px;
    }
  }

  .videosContainer {
    padding: 0;
    margin: 0;
  }
}
