.watchContent {
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .playerContainer {
    width: 100% !important;

    .videoTitleContainer {
      background-color: #2c2f31;
      height: 66px;
      border-radius: 0px 0px 10px 10px;

      .videoIcon {
        float: left;
        margin-right: 20px;
        img {
          height: 66px;
          width: 66px;
          border-radius: 0px 0px 0px 10px;
        }
      }

      .videoTitle {
        padding-top: 5px;
      }

      .videoClassification {
        float: right;
        width: 66px;
        height: 66px;
        background-color: #0f8b43;
        border-radius: 0px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 30px;
      }
    }

    .descriptionContainer {
      margin-top: 10px;

      .description {
        overflow: hidden;
        max-height: 100px;
        transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);
      }

      .active {
        max-height: 1000px !important;
        transition: max-height 1s ease-in-out;
      }

      .channelImage {
        img {
          float: left;
          border-radius: 50%;
          height: 66px;
          width: 66px;
          margin-right: 10px;
        }

        .channelNameContainer {
          height: 66px;
          float: none;

          .channelName {
            margin-top: 10px;
          }

          .channelFollowers {
            margin-top: 5px;
            font-size: 12px;
          }
        }
      }

      .channelButtons {
        text-align: right;
        button {
          margin-left: 10px;
          margin-top: 10px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .commentsContainer {
      .postComment {
        .notAuthenticated {
          margin-top: 15px;
          text-align: center;
          a {
            color: #1c7cd5;
            cursor: pointer;
          }
        }
      }

      .media {
        margin-top: 10px;
        font-size: 15px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          margin-right: 16px;
        }

        textarea {
          min-height: 50px;  
        }

        a {
          display: block;
          text-decoration: none;
          color: #c9d2db;
          font-size: 15px;
          font-weight: bold;
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }
  }

  .container {
    margin-right: -5px;
    margin-left: -5px;

    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .videosContainer {
    padding: 0;
    margin: 0;
  }

  @media (max-width: 1200px) {
    .videosContainer {
      height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
