// -- Body --

$bg-dark: #282a2c;
$body-bg: #282a2c;
$body-color: #c9d2db;

// -- Navbar --
$navbar-searchbar: #1a1a1a;

// -- Close Button --
$close-color: #ffffff;
$close-text-shadow: 0 1px 0 #000000 !default;

// -- Card --
$card-bg: #282a2c;
$card-spacer-y: 5px;
$card-spacer-x: 5px;
$card-border-color: rgba(#000000, 0.1);

// -- Modal --
$modal-content-bg: #1a1a1a;
$modal-header-border-color: #1a1a1a;
$modal-footer-border-color: #1a1a1a;

// -- Input --
$input-bg: #212224;
$input-group-addon-bg: #212224;
$input-border-color: #212224;
$input-color: white;

$input-focus-border-color: #212224;
$input-group-addon-color: #C9D2DB;

// -- Alerts --
$alert-bg-level: 10;
$alert-border-level: 0;
$alert-color-level: -10;

@import "node_modules/bootstrap/scss/bootstrap";

body,
html,
#root {
  height: 100%;
  min-height: 100vh;
  min-width: 550px;
  //min-width: 833px;
}

.content {
  height: 100%;
  padding-top: 56px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: calc(100% - 56px);
}

.page-content {
  padding: 0px 60px 20px 60px;
  width: calc(100% - 240px);
  margin-left: 240px;
  transition: all 0.3s;
  height: calc(100% + 56px);
}

.fix-fadein {
  height: 100%;
}

.center-page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .page-content {
    padding: 0px 10px 20px 10px;
  }
}

@media (max-width: 1068px) and (min-width: 768px) {
  .page-content {
    padding: 0px 30px 20px 30px;
  }
}

@media (max-width: 1668px) and (min-width: 1068px) {
  .page-content {
    padding: 0px 40px 20px 40px;
  }
}

.anchor {
  border: none !important;
}

.col-md-3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.noAuthentication {
  display: none !important;
}

.plyr {
  width: 100% !important;
  height: auto !important;
  border-radius: 5px 5px 0px 0px;
}

.disabled {
  color: #636363 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.15);
  border: solid 2px transparent;
  border-radius: 5px;
}

.nav-pills {
  .nav-item {
    .nav-link {
      color: rgba(255, 255, 255, 0.5);
    }
    .active {
      color: #ffffff !important;
    }
  }
}

.react-datepicker-popper {
  z-index: 2;
  top: 34px !important;
  /* needed because we made it inline */
}

.react-datepicker-wrapper,
.react-datepicker-wrapper .react-datepicker__input-container {
  /* https://github.com/Hacker0x01/react-datepicker/issues/1672 */
  width: 100%;

  /* to make it exactly the same height as the bootstrap input-group-addons */
  display: inline;
}