.select {
  width: 100px !important;
}

.fixBorder {
  border: none !important;
  max-width: 500px;
  width: 100%;
  display: table;
  margin: 0 auto;
}

.authContainer {
  background-color: #212224;
  border-radius: 5px;
  padding: 10px !important;

  hr {
    border: 1px solid #2c2c2c;
    border-radius: 5px;
  }

  .bar {
    height: 28px;
    margin-bottom: 20px;

    hr {
      border: 1px solid #2c2c2c;
      border-radius: 5px;
      margin: 5px 0px 0px 0px;
    }

    .button {
      hr {
        border: none;
      }

      a {
        margin-right: 5px;
        margin-left: 5px;
        color: #c9d2db;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .active {
      a {
        color: #1c7cd5;
        font-weight: bold;
        cursor: default;
      }

      hr {
        border: 2px solid #1c7cd5;
        border-radius: 5px;
        margin-top: 3px;
      }
    }

    hr {
      border-bottom: 1px solid #2c2c2c;
      border-radius: 5px;
    }
  }

  .form {
    margin-top: 15px;

    input {
      background-color: #282a2c;
      border: none;
    }

    a {
      color: #1c7cd5;
      text-decoration: none;
    }
  }
}
